
/****************************************************************/
/*                      REMOVED CONTENT                         */
/****************************************************************/

/* Remove Cover Page and TOC */
/**[class ~= 'map/map'] > *[class ~= 'toc/toc'] {
    display:none !important;
}
*[class ~= 'map/map'] > *[class ~= 'front-page/front-page']{
    display:none !important;
}
*[class~='topic/topic'][is-chapter] {
    -oxy-page-group : auto;
}*/

/* Remove 'Chapter #' prefix from topic titles */
*[class ~= "topic/topic"][is-chapter]:not([is-part]) > *[class ~= "topic/title"]:before {
    display: none !important;
}

/* Remove 'on page ##' suffix from links */
*[class ~= "topic/xref"][href]:after,
*[class ~= "topic/link"][href]:after {
    content: none !important;
}

/* Remove cover PDF bookmark */
*[class ~= "front-page/front-page-title"] > *[class ~= "topic/title"]:not([class ~= "bookmap/booktitle"]),
*[class ~= "front-page/front-page-title"] > *[class ~= "bookmap/booktitle"] > *[class ~= "bookmap/mainbooktitle"] {
    bookmark-level: 0;  
}

/* Remove extra breaks around images set to break */

br:nth-of-type(2n) { display: unset; }

/****************************************************************/
/*                      DOCUMENT PROPERTIES                     */
/****************************************************************/

/* Set the variable 'doctitle' to map title */
div[class ~= "front-page/front-page-title"] {
    string-set: doctitle content();
}

@page {
    size: US-letter;
    padding: 0.5em 0in;
    font: 10pt 'Arial', sans-serif;
    border-top: dotted 2.2px;
    border-bottom: dotted 2.2px;
}

/* Page Break Rules */
[oid="objectives"],
[oid="materials"],
[oid="safety"] {
    page-break-inside: avoid;
}


/****************************************************************/
/*                      TEXT STYLES                             */
/****************************************************************/

/* Base fonts */

:root, .p, .dl {
    font-size: 11pt;
}

sup[class~="hi-d/sup"],
sub[class~="hi-d/sub"] {
    font-size: 0.6em;
}

/* Fonts for headers */

.topictitle1 {
    font-family: 'Arial', sans-serif;
    font-size: 20pt;
}
.topictitle2 {
    font-family: 'Arial', sans-serif;
    font-size: 13pt;
	page-break-after: avoid;
}
.topictitle3 {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-size: 11pt;
	page-break-after: avoid;
}

/* Apply Times New Roman font */
.times {
	font-family: "Times New Roman", Times, serif;
}

/* Software glyph fonts */
@font-face {
    font-family: "chemvue";
    font-style: normal;
    font-weight: 400;
    src: url(../software-fonts/chemvue_3_D.ttf);
}

body {
    font-family: "Times New Roman", chemvue;
}


/* Fonts for table text */
*[class~="topic/entry"], [class~="topic/stentry"] {
	font-size: 10pt;
}
*[class~="table--title"] {
	font-size: 10pt;
    font-style: italic;
    font-weight: normal;
}

/* Hyperlinks */
a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.center {
    margin: auto;
}

.ten-pt {
    font-size: 10pt;
}

/* Small font suitable for footnote */
.small {
    font-size: 8pt;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-top: 2px;
    margin-left: 10px;
}

/* useful to reduce height to minimum when only 1 line or bulleted list */
.skinny {
    line-height: 85%;
}

/* minimum height between lines when multiple lines of content */
.skinny-multi {
    line-height: 1.1em;
}

/* Align MathType left instead of center */

*[class ~="equation-d/equation-block"][outputclass ~= "left"],
*[class ~="equation-d/equation-inline"][outputclass ~= "left"]{
    text-align: left;
}

/****************************************************************/
/*                      LISTS                                   */
/****************************************************************/

.ul, .ol {
    margin-left: -0.22in;
    margin-top: 6pt;
}
.ol, .li {
    font-size: 11pt;
    margin-bottom: 8px;
}

.ul, .li {
    font-size: 11pt;
    margin-bottom: 6px;
}

/* Side-by-side content such as Materials list */

*[outputclass ~= "side-by-side"] > *[class ~= "topic/p"] {
  display:inline-block;
  vertical-align:top;
  width: 49%;
}  

/****************************************************************/
/*                      TABLES                                  */
/****************************************************************/
*[class~="topic/table"] {
    page-break-inside: avoid;
    hyphens: none;
}

*[class~="topic/entry"], [class~="topic/stentry"] {
    border: 1px solid black;
    height: 0.33in;    
}

/* Unset vertical-align:top for this rule */
  
.simpletable td:not([valign]), .table td:not([valign]) {
    vertical-align: middle;
}

*[class~="topic/entry"] *[class~="topic/p"],
*[class~="topic/stentry"] *[class~="topic/p"] {
    margin-top:auto;
    margin-bottom:auto;
    font-size: 10pt;
}

th[class~="topic/entry"], th[class~="topic/stentry"] {
    background-color: #D9D9D9;
    font-family: 'Arial', sans-serif;
    height: 0.25in;
}

/* Reset the table numbering for each topic */
 
.table--title-label {
    display: none;
}  
.nested0 {
  counter-reset: tablecounter;
}
.table--title:before {
  content: "Table " counter(tablecounter) ". ";
  counter-increment: tablecounter;
}

/* Fill-in-the-blank type tables */  

.single-value {
    border: 1px;
    padding: 0;
    font-size: 10pt;
}
.single-value td:first-child:after {
    content: " =";
    white-space: pre;
    vertical-align: bottom;
}
.single-value td:first-child {
    text-align: right;
    border: none;
    vertical-align: bottom;
}
.single-value td:last-child {
    text-align: center;
    border-width: 0 0 1px 0;
    vertical-align: bottom;
}
.single-value caption {
    margin: 0;
}

/* Required Parts table */
.table-minimum td {
    height: 0.1in;
}

/* Removes white space above table when there is no table title*/  
.no-title {
    margin-top: -0.16in;
}

.short {
    height: 0.1in;
}

.very-short {
    height: 0.075in;
}

/* Gray out a table cell */
*[class~="gray-out"],
*[class~="topic/stentry"] {
    background-color: #d9d9d9;
}

/****************************************************************/
/*                      IMAGES AND FIGURES                      */
/****************************************************************/
  
*[class ~= "topic/image"] {
    height: 1em;
    margin: 0;
    vertical-align: text-bottom;
}
 
figcaption {
    font-size: 10pt;
    text-align: center;
    margin-top: 6px;
}
*[class~="topic/fig"] {
    page-break-inside: avoid;
}

[class~="topic/image"][placement="break"] {
    height: initial;
}
/* MathType equations */

*[class ~= "equation-d/equation-block"] {
    margin-top: 5px;
}
  
*[class ~="equation-d/equation-block"],
*[class ~="equation-d/equation-inline"]{
	font-size: 11pt;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

/* Remove extra break around images */
*[class ~= "topic/fig"] > br {
  display: none;
} 

/* Center-align figures for images in projects built on older templates */
*[class~="topic/fig"] {
    page-break-inside: avoid;
    text-align: center;
}

/* Avoid breaks before and after a paragraph element i.e. Graph title */
.no-break p {
    page-break-before: avoid;
	page-break-after: avoid;
}

/****************************************************************/
/*                      QUESTIONS AND ANSWERS                   */
/****************************************************************/

*[class ~= 'learning2-d/lcOpenQuestion2'],
*[class ~= 'learning2-d/lcQuestion2'] {
    margin-top: 0pt;
	page-break-inside: avoid;
}

*[class ~= 'learning2-d/lcQuestion2'] {
    font-size: 11pt;
}

*[class ~= 'learning2-d/lcOpenAnswer2'] {
    margin-top: 3pt;
}

/* Use Arial font for lcOpenAnswer2 */
*[class ~= 'learning2-d/lcOpenAnswer2'] {
    font-size: 10pt;
    font-family: 'Arial', sans-serif;
	font-weight: normal;
}

/*Apply Arial font to non-lcOpenAnswer2 answers */ 
.answer {
    font-size: inherit;
    font-family: 'Arial', sans-serif;
	font-weight: normal;
}

/* Always apply Times to MathML equations */
math {
    font-family: "Times New Roman", Times, serif;
}

*[class ~= 'learning2-d/lcOpenAnswer2'] > [class ~= 'math'] {
	font-family: "Times New Roman", Times, serif;
}

/****************************************************************/
/*                      NOTES                                   */
/****************************************************************/

*[class ~="topic/note"] {
    font-style: italic;
    background-color: #D9D9D9;
    border-radius: 5px;
    font-size: 10pt;
    margin-top: 2px;
}
span.note__title {
    text-transform: uppercase;
}

/* Remove default note icon */
div.note {
    background-image: none;
    padding: 0.5em;
    overflow: auto;
}
/* Text for instructor notes */
 
div.lcInstructornote2 > span.note__title {
    display: none;
}

div.lcInstructornote2::before {
    content: "INSTRUCTOR NOTE: ";
    font-weight: bold;
}



