
/****************************************************************/
/*                      REMOVED CONTENT                         */
/****************************************************************/

/* Remove Cover Page and TOC */
/**[class ~= 'map/map'] > *[class ~= 'toc/toc'] {
    display:none !important;
}
*[class ~= 'map/map'] > *[class ~= 'front-page/front-page']{
    display:none !important;
}
*[class~='topic/topic'][is-chapter] {
    -oxy-page-group : auto;
}*/

/* Remove 'Chapter #' prefix from topic titles */
*[class ~= "topic/topic"][is-chapter]:not([is-part]) > *[class ~= "topic/title"]:before {
    display: none !important;
}

/* Remove 'on page ##' suffix from links */
*[class ~= "topic/xref"][href]:after,
*[class ~= "topic/link"][href]:after {
    content: none !important;
}

/* Remove cover PDF bookmark */
*[class ~= "front-page/front-page-title"] > *[class ~= "topic/title"]:not([class ~= "bookmap/booktitle"]),
*[class ~= "front-page/front-page-title"] > *[class ~= "bookmap/booktitle"] > *[class ~= "bookmap/mainbooktitle"] {
    bookmark-level: 0;  
}

/* Remove extra breaks around images set to break */

br:nth-of-type(2n) { display: unset; }

/****************************************************************/
/*                      DOCUMENT PROPERTIES                     */
/****************************************************************/

/* Set the variable 'doctitle' to map title */
div[class ~= "front-page/front-page-title"] {
    string-set: doctitle content();
}

@page {
    size: US-letter;
    padding: 0.5em 0in;
    font: 10pt 'Arial', sans-serif;
    border-top: dotted 2.2px;
    border-bottom: dotted 2.2px;
}

/* Page Break Rules */
[oid="objectives"],
[oid="materials"],
[oid="safety"] {
    page-break-inside: avoid;
}


/****************************************************************/
/*                      TEXT STYLES                             */
/****************************************************************/

/* Base fonts */

:root, .p, .dl {
    font-size: 11pt;
}

sup[class~="hi-d/sup"],
sub[class~="hi-d/sub"] {
    font-size: 0.6em;
}

/* Fonts for headers */

.topictitle1 {
    font-family: 'Arial', sans-serif;
    font-size: 20pt;
}
.topictitle2 {
    font-family: 'Arial', sans-serif;
    font-size: 13pt;
	page-break-after: avoid;
}
.topictitle3 {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-size: 11pt;
	page-break-after: avoid;
}

/* Apply Times New Roman font */
.times {
	font-family: "Times New Roman", Times, serif;
}

/* Software glyph fonts */
@font-face {
    font-family: "chemvue";
    font-style: normal;
    font-weight: 400;
    src: url(../software-fonts/chemvue_3_D.ttf);
}

@font-face {
    font-family: "PASCO-Interface-Icons";
    font-style: normal;
    font-weight: 400;
    src: url(../software-fonts/PASCO_Interface_Icons.ttf);
}

body {
    font-family: "Times New Roman", chemvue, "PASCO-Interface-Icons";
}


/* Fonts for table text */
*[class~="topic/entry"], [class~="topic/stentry"] {
	font-size: 10pt;
}
*[class~="table--title"] {
	font-size: 10pt;
    font-style: italic;
    font-weight: normal;
}

/* Hyperlinks */
a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.center {
    margin: auto;
}

.ten-pt {
    font-size: 10pt;
}

/* Small font suitable for footnote */
.small {
    font-size: 8pt;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-top: 2px;
    margin-left: 10px;
}


/* Align MathType left instead of center */

*[class ~="equation-d/equation-block"][outputclass ~= "left"],
*[class ~="equation-d/equation-inline"][outputclass ~= "left"]{
    text-align: left;
    font-family: "Times New Roman", Times, serif;
}
/* Indent and align MathType left instead of center */

*[class ~="equation-d/equation-block"][outputclass ~= "indent-left"],
*[class ~="equation-d/equation-inline"][outputclass ~= "indent-left"]{
    text-align: left;
    font-family: "Times New Roman", Times, serif;
	
}

.indent-left {
	margin-left: 100px;
}

.plain {
    font-style: normal;
}

/****************************************************************/
/*                      LISTS                                   */
/****************************************************************/

.ul, .ol {
    margin-left: -0.22in;
    margin-top: 6pt;
}

.li {
    page-break-inside: avoid;
}

.ol, .li {
    font-size: 11pt;
    margin-bottom: 8px;
}

.ul, .li {
    font-size: 11pt;
    margin-bottom: 6px;
}

/* Use outputclass="no-wrap" to prevent line breaks in an element */
*[class~="topic/ph"][outputclass~="no-wrap"] {
    white-space: nowrap;
}

/* Side-by-side content such as Materials list */
/* 
   To use the side-by-side output class in your DITA content, 
   add the "side-by-side" outputclass attribute to the parent element 
   containing the elements you want to display side-by-side. 
   
   Then, add the appropriate class to each child element 
   to control their width in the side-by-side layout. 
   
   For example, to create a side-by-side layout for paragraphs 
   or divs with different widths, follow this pattern:

   <div outputclass="side-by-side">
     <p outputclass="width-66">Content 1</p>
     <p outputclass="width-33">Content 2</p>
   </div>

   Optionally, replace "div" with the appropriate DITA parent element 
   (such as <section>, <topic>, etc.) and "p" with <p> or <div>, 
   depending on your content structure.

   In the child elements, the outputclass attribute may be ommitted for equal-width columns,
   or replaced with values "width-X" where X is 10, 20, 25, 33, 50, 66, 80, or 90 to specify the % width
*/

/* Apply top margin to side-by-side block to match paragraph spacing */
*[outputclass~="side-by-side"] {
  margin-top: 12pt;
}

*[outputclass ~= "side-by-side"] > *[class ~= "topic/p"],
*[outputclass ~= "side-by-side"] > *[class ~= "topic/div"] {
  display: inline-block;
  vertical-align: top;
  width: 49%; /* Default width */
}

*[outputclass ~= "side-by-side"] > *[class*="width-"] {
  display: inline-block;
  vertical-align: top;
}

/* Define widths dynamically based on outputclass attribute */
*[outputclass ~= "side-by-side"] > *[class*="width-"][outputclass~="width-10"] {
  width: 9%;
}

*[outputclass ~= "side-by-side"] > *[class*="width-"][outputclass~="width-20"] {
  width: 19%;
}

*[outputclass ~= "side-by-side"] > *[class*="width-"][outputclass~="width-25"] {
  width: 24%;
}

*[outputclass ~= "side-by-side"] > *[class*="width-"][outputclass~="width-33"] {
  width: 32.33%;
}

*[outputclass ~= "side-by-side"] > *[class*="width-"][outputclass~="width-50"] {
  width: 49%;
}

*[outputclass ~= "side-by-side"] > *[class*="width-"][outputclass~="width-66"] {
  width: 65.66%;
}

*[outputclass ~= "side-by-side"] > *[class*="width-"][outputclass~="width-80"] {
  width: 79%;
}

*[outputclass ~= "side-by-side"] > *[class*="width-"][outputclass~="width-90"] {
  width: 89%;
}

/****************************************************************/
/*                      TABLES                                  */
/****************************************************************/
*[class~="topic/table"] {
    page-break-inside: avoid;
    hyphens: none;
}

*[class~="topic/entry"], [class~="topic/stentry"] {
    border: 1px solid black;
    height: 0.33in;    
}

/* Unset vertical-align:top for this rule */
  
.simpletable td:not([valign]), .table td:not([valign]) {
    vertical-align: middle;
}

*[class~="topic/entry"] *[class~="topic/p"],
*[class~="topic/stentry"] *[class~="topic/p"] {
    margin-top:auto;
    margin-bottom:auto;
    font-size: 10pt;
}

th[class~="topic/entry"], th[class~="topic/stentry"] {
    background-color: #D9D9D9;
    font-family: 'Arial', sans-serif;
    height: 0.25in;
}

/* Reset the table numbering for each topic */
 
.table--title-label {
    display: none;
}  
.nested0 {
  counter-reset: tablecounter;
}
.table--title:before {
  content: "Table " counter(tablecounter) ". ";
  counter-increment: tablecounter;
}

/* Fill-in-the-blank type tables */  

.single-value {
    border: 1px;
    padding: 0;
    font-size: 10pt;
}
.single-value td:first-child:after {
    content: " =";
    white-space: pre;
    vertical-align: bottom;
}
.single-value td:first-child {
    text-align: right;
    border: none;
    vertical-align: bottom;
}
.single-value td:last-child {
    text-align: center;
    border-width: 0 0 1px 0;
    vertical-align: bottom;
}
.single-value caption {
    margin: 0;
}

/* Required Parts table */
.table-minimum td {
    height: 0.1in;
}


.short {
    height: 0.1in;
}

/* useful to reduce height to minimum when only 1 line */
.skinny {
    line-height: 0.6em;
}

/* Gray out a table cell */
*[class~="gray-out"],
*[class~="topic/stentry"] {
    background-color: #d9d9d9;
}

/****************************************************************/
/*                      IMAGES AND FIGURES                      */
/****************************************************************/
  
*[class ~= "topic/image"] {
    height: 1em;
    margin: 0;
    vertical-align: text-bottom;
}
 
figcaption {
    font-size: 10pt;
    text-align: center;
    margin-top: 6px;
}
*[class~="topic/fig"] {
    page-break-inside: avoid;
}

[class~="topic/image"][placement="break"] {
    height: initial;
}
/* MathType equations */

*[class ~= "equation-d/equation-block"] {
    margin-top: 5px;
}
  
*[class ~="equation-d/equation-block"],
*[class ~="equation-d/equation-inline"]{
	font-size: 11pt;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

/* Remove extra break around images */
*[class ~= "topic/fig"] > br {
  display: none;
} 

/* Center-align figures for images in projects built on older templates */
*[class~="topic/fig"] {
    page-break-inside: avoid;
    text-align: center;
}

/* Avoid breaks before and after a paragraph element i.e. Graph title */
.no-break p {
    page-break-before: avoid;
	page-break-after: avoid;
}

/****************************************************************/
/*                      QUESTIONS AND ANSWERS                   */
/****************************************************************/

*[class ~= 'learning2-d/lcOpenQuestion2'],
*[class ~= 'learning2-d/lcQuestion2'] {
    margin-top: 0pt;
	page-break-inside: avoid;
}

*[class ~= 'learning2-d/lcQuestion2'] {
    font-size: 11pt;
}

*[class ~= 'learning2-d/lcOpenAnswer2'] {
    margin-top: 3pt;
}

/* Use Arial font for lcOpenAnswer2 and anything else assigned props = teacher */
*[class ~= 'learning2-d/lcOpenAnswer2'] {
    font-size: 10pt;
    font-family: 'Arial', sans-serif;
	font-weight: normal;
}

*[props ~= 'teacher'] {
    font-family: 'Arial', sans-serif;
    font-size: 10pt;
}
.lcOpenAnswer2 li {
    font-size: 10pt;    
}

/*Apply Arial font to non-lcOpenAnswer2 answers */ 
.answer {
    font-size: inherit;
    font-family: 'Arial', sans-serif;
	font-weight: normal;
}

/* Always apply Times to MathML equations */
math {
    font-family: "Times New Roman", Times, serif;
}

*[class ~= 'learning2-d/lcOpenAnswer2'] > [class ~= 'math'] {
	font-family: "Times New Roman", Times, serif;
}

/****************************************************************/
/*                      NOTES                                   */
/****************************************************************/

*[class ~="topic/note"] {
    font-style: italic;
    background-color: #D9D9D9;
    border-radius: 5px;
    font-size: 10pt;
    margin-top: 2px;
}
span.note__title {
    text-transform: uppercase;
}

/* Remove default note icon */
div.note {
    background-image: none;
    padding: 0.5em;
    overflow: auto;
}
/* Text for instructor notes */
 
div.lcInstructornote2 > span.note__title {
    display: none;
}

div.lcInstructornote2::before {
    content: "INSTRUCTOR NOTE: ";
    font-weight: bold;
}



