/* Add answer space below open questions in a numbered list */
[class~="learning2-d/lcOpenQuestion2"] [class~="learning2-d/lcQuestion2"] {
    padding-bottom: 1in;
}

*[outputclass~="no-space"] {
    padding-bottom: 0in !important;
}
*[outputclass~="one-line"] {
    padding-bottom: 0.33in !important;
}
*[outputclass~="two-lines"] {
    padding-bottom: 0.67in !important;
}
*[outputclass~="three-lines"] {
    padding-bottom: 1.0in !important;
}
*[outputclass~="four-lines"] {
    padding-bottom: 1.33in !important;
}
*[outputclass~="drawing"] {
    padding-bottom: 2.00in !important;
}

@page chapter:first:right {
    margin: 0.75in 0.75in 0.75in 1.25in;
    @top-right {
        content: none;
        white-space: pre;
        vertical-align: bottom;
        padding-bottom: 4pt;
    }
}

@page chapter:right {
    margin: 0.75in 0.75in 0.75in 1.25in;
    @top-right {
        content: "" string(doctitle);
        vertical-align: bottom;
        padding-bottom: 4pt;
        white-space: pre;
    }
    
    @bottom-right {
        content: url(pasco-logo.png)"        " counter(page);
        vertical-align: top;
        padding-top: 4pt;
        white-space: pre;
    }
}
@page chapter:left {
    margin: 0.75in 1.25in 0.75in 0.75in;
    @top-left {
        content: string(doctitle) "";
        vertical-align: bottom;
        padding-bottom: 4pt;
        white-space: pre;
    }
    @bottom-left {
        content: counter(page) "        "url(pasco-logo.png);
        vertical-align: top;
        padding-top: 4pt;
        white-space: pre;
    }
}
   