/* Remove blank graphs */
[class~="topic/fig"] [class~="topic/image"][outputclass ~= 'blank'] {
    display: none;
}

@page:first {
    margin: 0.75in 0.75in 0.75in 1.25in;
    @top-left {
        content: "TEACHER'S GUIDE";
        white-space: pre;
        vertical-align: bottom;
        text-align: right;
        padding-bottom: 4pt;
    }
}
@page:right {
    margin: 0.75in 0.75in 0.75in 1.25in;
    @top-right {
        content: string(doctitle) " | TEACHER'S GUIDE";
        vertical-align: bottom;
        padding-bottom: 4pt;
        white-space: pre;
    }
    @bottom-right {
        content: "PASCO        " counter(page);
        vertical-align: top;
        padding-top: 4pt;
        white-space: pre;
    }
}
@page:left {
    margin: 0.75in 1.25in 0.75in 0.75in;
    @top-left {
        content: string(doctitle) " | TEACHER'S GUIDE";
        vertical-align: bottom;
        padding-bottom: 4pt;
        white-space: pre;
    }
    @bottom-left {
        content: counter(page) "        PASCO";
        vertical-align: top;
        padding-top: 4pt;
        white-space: pre;
    }
}

/* Extension Section */

*[outputclass ~= 'extension'] *[class ~= 'topic/p'] {
    margin-bottom: 3px;
}

.table td:not([valign]) {
    vertical-align: top;
}

/* Support Section */
*[outputclass ~= 'support'] {
    break-inside: avoid;
}
*[outputclass ~= 'support'] [class~="topic/table"] {
    width: auto;
    margin: 0;
}
*[outputclass ~= 'support'] *[class ~= 'topic/entry'] {
    border: none;
    text-align: left;
    font: 300 11pt serif;
    height: 1em;
}

*[outputclass ~= 'support'] *[class ~= 'topic/p'] {
    margin-bottom: 5px;
}

.table td:not([valign]) {
    vertical-align: top;
}






























